/* static, relative, absolute, fixed, sticky */

body {
  height: 2000px;
}

.parent {
  background-color: #555;

  padding: 10px;
  /* position: relative; */
  height: 500px;
}

.child-1 {
  background-color: red;
  /* position: sticky;
  right: 5px;
  top: 5px; */
}

.child-2 {
  background-color: green;
}

.child-3 {
  background-color: blue;
}

header {
  background-color: aqua;
  position: sticky;
  top: 0;
}
